@tailwind base;
@tailwind components;
@tailwind utilities;
.btn:hover{
    color: white;
  
    background: linear-gradient(112deg, #AAFFEC -63.59%, #ff4ecd -20.3%,#0070F3 70.46%);
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 8rem;
    border-radius: 0.5rem;
    text-align: center;    
    display: flex; 
    border-radius: 0.5rem;
    border: none;
}
.btn{
   border: 2px solid blue;
background: transparent;
  background-color: transparent;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 8rem;
    border-radius: 0.5rem;
    text-align: center;    
    display: flex;
    color: blue;
    border-radius: 0.5rem;  
     
    
}
.NavBar{
  height: 100px;
  position: fixed;
  top: 0;
  background-color: white;
}
.footer{
    margin-top: 10rem;
}
.blog-resp{
    justify-content: center !important;
    margin: auto !important;
    
     }
     .video{
        width: 450px;
        margin:auto;
        justify-content: center;
      

     }
    
@media screen and (max-width:1023px){
    .blog_resp{
    width: 300px !important;
    }
}

@media screen and (max-width:850px){
    .Img-Resp{
        width: 180px;
    }

    .Home-h1-Resp{
        font-size: 35px;
    }
}
@media screen and (max-width:651px){
    .NavBar{
        display: none;
    }
.Nav-ul{
    display: none !important ;
}
.Home-h1-Resp{
    font-size: 25px;
    margin-bottom: 10px;
}
.Home-para{
    font-size: 10px;
    margin-bottom: 10px;
}
.Hambuger{
    display: flex;
    flex-direction: column;
    width: 15px;
    background-color: inherit;
    color: inherit;
}
.line{
    width: 15px;
    background-color: inherit;
    color: inherit;
}
}

@media screen and (max-width:450px){
    .Form-input{
        width: 13rem;
    }
    .About-Para-Resp{
        width: 100%;
    }
}
@media screen and (max-width:650px){
    .Menu{
        margin-top: 2rem;
    }
    .Navul {
        display: flex;
        flex-direction: column;
        /* margin: 154px auto; */
        margin-top: 155px;
    }
     .Img-Resp{
        width: 90px;
    }
    .Nav{
        display: flex !important;
        flex-direction: row;
        background-color: inherit;
        color: inherit;
        position: fixed;
        top: 0;
    
    }
    .Nav-Logo-Div{
        margin: auto;
        
    }
    .Nav-Logo{
        position: absolute;
        top: 30px;
        left: 20px;
    }
    
    .about-left  {
        width: 100%;
        /* margin-top: 50px; */
        justify-content: center;
        margin: 50px auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        
    }
    .video{
        width: 100%;
        margin-right: 0px;
    }
    .about-right{
        width: 100%;
        /* margin-top: 50px; */
        justify-content: center;
        margin: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .about{
        display: flex;
        flex-direction: column;
    }
}
.Nav{
    display: none;
    background-color: white;
}
@media screen and (max-width:345px){
    .blog_resp{
    width: 250px !important;
    }
}

.hero{
     background-image: linear-gradient(45deg,
     rgba(82, 82, 218, 0.75),
     rgba(127, 156, 175, 0.75)),url('../Components/assets/img/bg.jpg') ; 
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    background-size: cover;
   
} 